@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

// Colors
$primary-theme: #2bcbf2;

/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  font-family: "DM Sans";
  padding: 0;
  background-color: white;
  overflow-y: hidden;
  letter-spacing: -0.4px;
  /* Add any other styles you want to reset or modify */
}

.liviq-content {
  font-size: 18px;
  min-height: 125px;

  img {
    max-width: 250px;
  }

  ul {
    padding-left: 24px;
  }

  p {
    margin: 0;
  }
  /* Markdown table styling */
  table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    border-color: inherit !important;
    display: block !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: auto !important;
  }

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: inherit !important;
    border-style: solid !important;
    border-width: 2px !important;
    padding: 0.5rem;
  }

  h3,
  h2 {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

@keyframes bounceAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.fade-in-style {
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.leaflet-container {
  border-radius: 8px;
}

.reasoning {
  line-height: 145%;
  b {
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
  }

  .highlight {
    font-weight: 500;
    color: #0084d1;
    background-color: rgba(43, 203, 242, 0.1);
    padding: 0 4px;
  }

  &.clip {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Set the number of lines you want to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ant-modal-content {
  padding: 16px;
}
/* Remove bottom border from active tab */
.ant-tabs-tab-active {
  border-bottom: none !important;
}

/* Optional: Also remove the default ink bar if needed */
.ant-tabs-ink-bar {
  display: none !important;
}

.brickfi-drawer {
  .ant-drawer-content-wrapper {
    box-shadow: none !important;
  }
}

.full-width-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .ant-modal {
    width: 95vw !important;
    max-width: 95vw !important;
    height: 95vh !important;
    margin: 0;
    padding: 0;
  }

  .ant-modal-content {
    height: 95vh;
    border-radius: 8px;
  }
}
